Diseños/EjeComercio (Diseño viejo).png
Logo/Ejecomercio - Base.svg
Logo/EjeComercio (Azul).png
Logo/EjeComercio (Azul).svg
Logo/EjeComercio (Blanco).png
Logo/EjeComercio (Blanco).svg
Logo/Original/EjeComercio Logo.ai
